<!DOCTYPE html>
<html lang="en">
<!-- Это базовый шаблон, сюда вписываем header и footer, body трогать не надо -->
<head>
    <meta charset="UTF-8">
    <title>Тектумхарм</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> <!-- Добавление bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Добавление дополнительного статического CSS файла -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

</head>
<h1>Здесь будет хедер, работаем</h1>
<header>

</header>


<body>
{% block content %} <!-- Здесь появляется контент с других страниц --> {% endblock %}
</body>


<footer>
<h1>Здесь будет футер, всё в порядке</h1>
</footer>
</html>