<!DOCTYPE html>
<html lang="en" class="b">
<!-- Это базовый шаблон, сюда вписываем header и footer, body трогать не надо -->
<head>
    <meta charset="UTF-8">
    <title>Тектумхарм</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> <!-- Добавление bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Добавление дополнительного статического CSS файла -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

</head>
<header>
  <div class="logo">
      <a href="/">
          <img src="{% static 'img/logo/tektum.jpg' %}" width="256px" height="128px" />
        </a>
  </div>

  <nav>
      <ul class="menu">
          <li><a href="/inf" class="menu-item h_style">Информация о компании</a></li>
          <li><a href="/portfolio" class="menu-item h_style">Портфолио</a></li>
          <li><a href="/partners" class="menu-item h_style">Наши партнеры</a></li>
          <li><a href="/feedback" class="menu-item h_style">Отзывы</a></li>
          <li><a href="/call" class="menu-item h_style">Заказать звонок</a></li>
      </ul>
  </nav>

  <script>
      const menuItems = document.querySelectorAll('.menu-item');
    
      menuItems.forEach(item => {
        item.addEventListener('click', function() {
          
          menuItems.forEach(item => item.classList.remove('active'));
          
          this.classList.add('active');
        });
      });
    </script>
    

</header>


<body>
{% block content %} <!-- Здесь появляется контент с других страниц --> {% endblock %}
</body>

<footer>
  <div class="footer-content ml">
    <div class="footer-contact">
      <h3>Контакты</h3>
      <p>Адрес: ул. Строительная, 123</p>
      <p>Телефон: +7 (123) 456-7890</p>
      <p>Email: info@company.com</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2023 Строительная компания. Все права защищены.</p>
  </div>
</footer>